namespace: prophecis
env: prod
platformNodeSelectors:
  mlss-node-role: platform
services:
  expose_node_port: false
envir: prophecis
has_static_volumes: true
ceph_host_path: /cosdata/mlss-test
log:
  level: DEBUG
cc:
  image:
    repository: wedatasphere/prophecis
    tag: cc-apiserver-v0.2.0
    pullPolicy: Always
  containerPort:
    portHttp: 6666
    portHttps: 443
  service:
    type: NodePort
    port: 6666
    targetPort: 6666
    portHttps: 443
    targetPortHttps: 443
    nodePort: 30801
  db:
    server: 127.0.0.1
    port: 3306
    name: prophecis
    user: prophecis
    pwd: prophecis2020
  admin:
    user: admin
    password: admin
  gateway:
    address:
      bdap: http://127.0.0.1:30803
  spec:
    volumes:
      hostPath:
        path: /appcom/log/controlcenter
  ldap:
    address: ldap://127.0.0.1:1389/
    baseDN: dc=webank,dc=com
ccGateway:
  image:
    repository: wedatasphere/prophecis
    tag: cc-apigateway-v0.2.0
    pullPolicy: Always
  service:
    type: NodePort
    port: 8081
    targetPort: 8081
    nodePort: 30778
aide:
  image:
    repository: wedatasphere/prophecis
    tag: mllabis-v0.1.1
    pullPolicy: Always
  service:
    type: NodePort
    port: 8080
    targetPort: 8080
    nodePort: 30784
  controller:
    notebook:
      repository: wedatasphere/prophecis
      tag: notebook-controller-v20190401-v0.4.0-rc.1-308-g33618cc9-e3b0c4
      pullPolicy: IfNotPresent
    meta:
      repository: wedatasphere/prophecis
      tag: metacontroller-v0.3.1
      pullPolicy: IfNotPresent
  startPort: "30000"
  endPort: "32767"
  hadoop:
    enable: "false"
    installPath: "/data/Install"
    commonlibPath: "/data/commonlib"
    configPath: "/data/config"
    javaPath: "/data/jdk1.8.0_141"
    sourceConfigPath: "/data/config/Notebook_ENV.sh"
    hostFilePath: "/data/config/MLSS-config/MLSS_AIDE-config/HOST_ENV.sh"
ui:
  image:
    repository: wedatasphere/prophecis
    tag: ui-v0.2.0
    pullPolicy: Always
  service:
    bdap:
      type: NodePort
      port: 80
      targetPort: 80
      nodePort: 30803
  spec:
    volumes:
      hostPath:
        bdapPath: /appcom/log/ui-bdap
  aideApiVersion: v1
  ccApiVersion: v1
  diApiVersion: v1
  grafana:
    url: ""
  dashboard:
    url: ""
  prometheus:
    url: ""
  kibana:
    url: ""
  cc:
    server: controlcenter-gateway:8081
  aide:
    server: controlcenter-gateway:8081
    image:
      repository: wedatasphere/mllabis
      notebookTags:
        - name: Prophecis_1.8.0_tensorflow-2.0.0-jupyterlab-gpu-v0.5.0
        - name: Prophecis_1.8.0_tensorflow-1.13.1-jupyterlab-cpu-v0.5.0
        - name: Prophecis_1.8.0_tensorflow-1.13.1-jupyterlab-gpu-v0.5.0
        - name: Prophecis_1.8.0_tensorflow-1.12.0-jupyterlab-gpu-v0.5.0
        - name: Prophecis_1.8.0_tensorflow-1.12.0-jupyterlab-cpu-v0.5.0
  di:
    server: controlcenter-gateway:8081
    image:
      repository: wedatasphere/prophecis
      trainingTags:
        - name: tensorflow-1.5.0-gpu-py3-wml-v1
linkis:
  address: 127.0.0.1:8088
  tokenCode: MLSS
livy:
  address: http://127.0.0.1:8998
docker:
  registry: wedatasphere
  namespace: prophecis
  pullPolicy: Always
restapi:
  version: restapi-0.2.0
  port: 30960
  replicas: 1
  cpus: 2000m
  memory: 3400Mi
trainer:
  version: di-trainer-v0.2.0
  port: 0
  replicas: 1
  cpus: 5000m
  memory: 2048Mi
storage:
  version: di-storage-v0.2.0
  port: 0
  replicas: 1
  cpus: 500m
  memory: 5000Mi
  uploadHostPath: /uploaded-models
  uploadContainerPath: /uploaded-models
lcm:
  version: di-lcm-v0.2.0
  port: 0
  replicas: 1
  cpus: 1000m
  memory: 1000Mi
  load_training_data_mem_in_mb: 300
  milli_cpu: 60
  mem_in_mb: 300
  device_plugin: true
  shared_volume_storage_class: ""
  mlssGroupId: 6002
  fluent_bit_log_path: /mlss/di/jobs/
jm:
  version: di-jobmonitor-v0.2.0
trainingdata:
  version: di-metrics-v0.2.0
  port: 0
  replicas: 1
  cpus: 50m
  memory: 64Mi
learner:
  tag: master-97
  docker_namespace: webank/mlss-di
  kubeSecret: lcm-secrets
mongo:
  address: localhost:27017
  username: mlss
  password: mlss
etcd:
  address: http://etcd.prophecis.svc.cluster.local:2379
  username: test
  password: test
  prefix: test
objectstore:
  type: s3_datastore
  username: AKIAIOSFODNN7EXAMPLE
  password: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
elasticsearch:
  address: http://elasticsearch.prophecis.svc.cluster.local:9200
  host: elasticsearch.prophecis.svc.cluster.local
  port: "9200"
  username: test
  password: test
  scheme: http
tfjob:
  image:
    mpiOperator: wedatasphere/prophecis:mpi-operator-v1.0.0
    tfOperator: wedatasphere/prophecis:tf-operator-v1.0.0
    delivery: wedatasphere/prophecis:kubectl-delivery-1.0.0
rsapubkey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/we++xU+toNBQO/MYYQSE0LdEFlEcEoWil9lK2wLILTg7Hep7c8elgXEmIxb90xeFmZW9CJv3oVuverzYwQ0cmXbniZmiI48D48kaf8kmx2cTJID0udM8XlCgoXbljHUSAzCmom7eTuxEkitwi/3kH2MtDIWtKs8FVM68mVEoP2WyqfzbZyGdeQqEKb7TcYtl4LVBVAwEfG1MN/ndmanAzFQwt5okBeJXIMeSdjmGBd/q3DRj5wZpgt9vSa4214+PxuscjizGMaALx7YThwfmPUE5SniGzq+tqh++wUdq689UMPJO97+UwrlMBXkytxc0ci2S5BMumrBDmOGAxRbN root@fa485b34526a"
rsaprikey: "-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEAv8HvvsVPraDQUDvzGGEEhNC3RBZRHBKFopfZStsCyC04Ox3q
e3PHpYFxJiMW/dMXhZmVvQib96Fbr3q82MENHJl254mZoiOPA+PJGn/JJsdnEySA
9LnTPF5QoKF25Yx1EgMwpqJu3k7sRJIrcIv95B9jLQyFrSrPBVTOvJlRKD9lsqn8
22chnXkKhCm+03GLZeC1QVQMBHxtTDf53ZmpwMxUMLeaJAXiVyDHknY5hgXf6tw0
Y+cGaYLfb0muNtePj8brHI4sxjGgC8e2E4cH5j1BOUp4hs6vraofvsFHauvPVDDy
Tve/lMK5TAV5MrcXNHItkuQTLpqwQ5jhgMUWzQIDAQABAoIBAQCAeOqrIX7UkR1/
4+pmtvlUEpH2aA1HhZFK8fl/EWS3wLQfx1dGBrgHxsWMC45n2Hm15MRRtebo7Y6D
7vN/NTgXpSnozmPEIZa7wG0H9/1IoegJBzfuvmEr3PSf6g3ClWwJ+WErA0DMaIwb
FONNsD0WDYFguTcGYdv5cmxgJ0gccdO6zdZh8LXrez7XctgOFXqk6BLGElgKecuR
8pNo9FhnSehIs/Oy1BVYA1Uwnug9Q/vqmF+bAZM1BLo/8oLHKHvOkObFy0vfjHyB
Kj1/YYR673+S/L+Bmih5cpAFABU9RV0HgPHBmnh4AVj4mgdHrnJAWOX9j5cqucPe
TtrrydTxAoGBAOuXhCracm2ljxiOXxG1fMdLDUvL3nedWGE5JozwvWMtB8Owj4gx
tPoQQGe8fOW2AMrtAZl7DlA+Qt4r4OvHyylSzGi53+JWiaYLcqaMA5eKO66XV1RX
92QGSEV0ZVMzchz4OdyiRsXDZywr1+fnctO832Yte6DgisflMyI1Q2vrAoGBANBe
WePqeq+PPX4VUAISYTTrlX7JFWmyS5am+9hevZ+S/BhtJewUXd+B5jKdoO8WB5gF
IOgVgBO4OpNGdbvS9kX3f+x7h4tG0XEeKvMpNQJxTH13LSCZ4H7Sz/3VwEsU0+oF
x9/nV/IVfg+29Q9uE1jcI/z5fYBmozbkSydRE3InAoGBAND3GeIw1KJw4RX04lqA
0earqWV7tR3/0G6cFJeayUF4pZRrvUQeYtoTJC1fQKE36EgWJP8P6Ug/kWwjG2PH
WWqT6H9Tr0PBYmKHcPBM7Lqzf/CCiJFlXSe5cs04Ss+bqDIN8rTCs2eixJanZOBr
qKwqsTSeTzQJNs/Leqly+RR1AoGAJKVTXdgxN4sTn4cUCSk+W1ZLdn7a+znWPWqk
xEr1QolROOKJVtnGILbxy1kZorLXJw9P2EFfwxgVhS1RK3VQxsFeiDK5he8wippp
p1ZJ8mIGt9Ir553oc6WT2uqq5QmGs5PMsT44o2TQROdCdjI/yNL+qVEfl2N1tQO1
i/agWuUCgYEAx1k2KKs3+rLHgUquOKYzy1VbSSy973rBPwrYa1ed0RO9Sg/KKMqQ
OJdIhe7lwxrspmUKaObVtpVEsP/Cf7dWT8lruDHsakXfcNCoKXCBMYgnj593TdKu
SOqZdzFqgInvqttvMiJY1cydGSebuQ8IATOsyEKtBsk/BOPwgZFttGs=
-----END RSA PRIVATE KEY-----"
persistent:
  etcd:
    path: /cosdata/mlss-test/prophecis/etcd
  localstack:
    path: /cosdata/mlss-test/prophecis/localstack
  mongo:
    path: /cosdata/mlss-test/prophecis/mongo
datasource:
  userName: prophecis
  userPwd: prophecis
  url: 127.0.0.1
  port: 3306
  db: prophecis
  encryptPwd: ""
  privKey: ""
