apiVersion:  apps/v1
kind: Deployment
metadata:
  name: mllabis-deployment
  namespace: {{.Values.namespace}}
  labels: 
    app: aide-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aide
  minReadySeconds: 5
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: aide
    spec:
      serviceAccountName: aide-web-app
      containers:
      - name: aide
        image: {{.Values.aide.image.repository}}:{{.Values.aide.image.tag}}
        imagePullPolicy: {{.Values.aide.image.pullPolicy}}
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: timezone-volume
          mountPath: /etc/localtime
        - mountPath: /etc/mlss/
          name: aide-config
        env:
        - name: DLAAS_ENV
          value: {{.Values.env}}
        - name: START_PORT
          value: "{{.Values.aide.startPort}}"
        - name: END_PORT
          value: "{{.Values.aide.endPort}}"
      imagePullSecrets:
      - name: hubsecret
      volumes:
      - name: timezone-volume
        hostPath:
          path: /usr/share/zoneinfo/Asia/Shanghai
          type: File
      - name: aide-config
        configMap:
          name: aide-config
      nodeSelector:
        {{range $key,$val := .Values.platformNodeSelectors}}
          {{$key}}: {{$val}}
        {{end}}
