apiVersion: apps/v1
kind: Deployment
metadata:
  name: ffdl-trainingdata
  namespace: {{.Values.namespace}}
  labels:
    environment: {{.Values.env}}
    service: ffdl-trainingdata
spec:
  selector:
    matchLabels:
      service: ffdl-trainingdata
      environment: {{.Values.env}}
  replicas: {{.Values.trainingdata.replicas}}
  template:
    metadata:
      labels:
        service: ffdl-trainingdata
        environment: {{.Values.env}}
        version: {{.Values.trainingdata.version}}
    spec:
      containers:
      - name: ffdl-trainingdata-container
#        image: {{.Values.docker.registry}}/{{.Values.docker.namespace}}/{{.Values.docker.image_prefix}}metrics:{{.Values.trainingdata.version}}
        image: {{.Values.docker.registry}}/{{.Values.docker.namespace}}{{.Values.docker.image_prefix}}:{{.Values.trainingdata.version}}
{{ if .Values.docker.pullPolicy }}
        imagePullPolicy: {{.Values.docker.pullPolicy}}
{{ end }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8443
        env:
        - name: DLAAS_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: DLAAS_ENV
          value: {{.Values.env}}
        - name: DLAAS_LOGLEVEL
          value: {{.Values.log.level}}
        - name: DLAAS_ELASTICSEARCH_SCHEME
          value: {{.Values.elasticsearch.scheme}}
        - name: DLAAS_ELASTICSEARCH_ADDRESS
          value: {{.Values.elasticsearch.address}}
        volumeMounts:
        - mountPath: /etc/ssl/dlaas/
          name: ffdl-certs
        - name: timezone-volume
          mountPath: /etc/localtime
        #- name: elasticsearch-ssl-cert
        #  mountPath: /etc/certs/
        #  readOnly: true
        command: ["/bin/sh", "-c"]
        args: ["DLAAS_PORT=8443 /main"]
        resources:
          limits:
            cpu: {{.Values.trainingdata.cpus}}
            memory: {{.Values.trainingdata.memory}}
      volumes:
      #- name: elasticsearch-ssl-cert
      #  secret:
      #    secretName: trainingdata-secrets
      #    items: [{
      #      key: DLAAS_ELASTICSEARCH_CERT,
      #      path: elasticsearch/elasticsearch.cert
      #    }]
      - name: ffdl-certs
        configMap:
          name: ffdl-certs
      - name: timezone-volume
        hostPath:
          path: /usr/share/zoneinfo/Asia/Shanghai
          type: File
      imagePullSecrets:
#      - name: regcred
       - name: hubsecret
#        livenessProbe:
#          exec:
#            command:
#              - /bin/sh
#              - -c
#              - "grpc-health-checker --port 8443 --tls"
#          initialDelaySeconds: 15
#          timeoutSeconds: 2
      nodeSelector:
        {{range $key,$val := .Values.platformNodeSelectors}}
          {{$key}}: {{$val}}
        {{end}}
